body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.users {
    display: flex;
    flex-direction: column;
}

.users__status {
    text-align: center;
}

.users__content {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.users__table {
    display: flex;
    flex-direction: column;
    align-items: center;
}
